[package]
name = "focus_trap"
description = "Example demonstrating focus trap functionality."
version = "0.5.0"
publish = false
edition.workspace = true

[dependencies]
anyhow.workspace = true
gpui.workspace = true
gpui-component = { workspace = true }

[lints]
workspace = true
