name: "Release Crate"
on:
  push:
    tags:
      - "v*"
jobs:
  publish_crate:
    name: Publish Crate
    runs-on: ubuntu-latest
    steps:
      - uses: actions/checkout@v4
      - uses: actions-rust-lang/setup-rust-toolchain@v1
      - name: Release Crate
        run: |
          cargo publish --workspace --token ${{ secrets.CARGO_REGISTRY_TOKEN }}
